<div style="background-color: black; height: 100vh;">
    <h1 style="color: green; font-family:Consolas">Parámetros iniciales</h1>
    <ul style="color:green; font-family:Consolas; font-size:16px">
        <li>Node ENV => <b style="color:white;">{{ nodeEnv }}</b></li>
        <li>Host => <b style="color:white;">{{ host }}</b></li>
        <li>Port => <b style="color:white;">{{ port }}</b></li>
        <li>Persistencia => <b style="color:white;">{{ pers }}</b></li>
        <li>Email Administrador => <b style="color:white;">{{ emailAdministrador }}</b></li>
        <li>Cel Administrador => <b style="color:white;">{{ celAdministrador }}</b></li>
        <li>Gmail From Send => <b style="color:white;">{{ gmailFromSend }}</b></li>
        <li>Twilio Account SID => <b style="color:white;">{{ twilioAccountSid }}</b></li>
        <li>Twilio Account Token => <b style="color:white;">{{ twilioAccountToken }}</b></li>
        <li>Twilio Number Whatsapp => <b style="color:white;">{{ twilioNumberWsp }}</b></li>
        <li>Twilio Number SMS => <b style="color:white;">{{ twilioNumberSms }}</b></li>
        <li>Session TTL (en segundos) => <b style="color:white;">{{ sessionTtl }}</b></li>
        <li>Session MaxAge (en milisegundos) => <b style="color:white;">{{ sessionMaxAge }}</b></li>
    </ul>
</div>